label.edusharing-dialog {
	display:block;
}

label.edusharing-dialog.radio {
	display: inline;
	margin-right: 10px;
}

#wikieditor-toolbar-edu-form {
	float: left;
}

#wikieditor-toolbar-edu-preview {
	margin-left: 320px;
	border: 1px solid #CCCCCC;
	height: 210px;
	width: 200px;
	padding: 10px;
	color: #CCCCCC;
	font-size: 0.6em;
	overflow: auto;
}

#wikieditor-toolbar-edu-preview-res {
	float: none; /*default value; change this together with default radio button*/
	margin: 10px 0;
}


#eduframe {
	height:100%;
	width:100%;
	position:absolute;
	top:0;left:0;
	zIndex:888;
	border:0;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100px 100px;
	background-image: url('./../images/edu-icon.svg');
	
}